@import '../../style/variables.scss';

.images-combiner {
  display: flex;
  flex-direction: row;

  button {
    margin: 8px;
  }
}

.modal-save-image {
  input {
    margin-bottom: 12px;
  }

  h3 {
    margin-bottom: 12px;
  }

  .inputs {
    margin-bottom: 12px;
  }

  .summary {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      text-align: center;
    }
  }

  .beta-notice {
    margin-top: 16px;
  }
}