@import '../../../style/variables.scss';

.presets {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .preset-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .preset-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 12px;
      font-size: 14px;
      background-color: $color-background-dark;
    }

    .row.user-preset {
      display: flex;
      width: 100%;

      .button.delete {
        background-color: unset;
        min-width: unset;
        max-width: unset;
        font-size: 10px;
        padding: unset;
        min-width: 24px;
        background-color: $color-notblack;
        color: #fff;
        border-radius: 0px;
        min-width: 32px;
      }
    }

    .preset-button {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 32px;
      border: unset;
      border-radius: 0px;
      color: #fff;
      font-size: 14px;
      padding: unset;
  
      &:hover {
        border: unset;
      }

      .text {
        background: linear-gradient(0.25turn, rgba(0,0,0,0.4), rgba(0,0,0,0) 90%);
        line-height: 32px;
        height: 32px;
        text-align: left;
        min-width: 50%;
        padding: 0px 12px;
      }
    }
  }  
}