@import '../../style/variables.scss';

.page.editor {
  background-color: $color-background-darker;
  height: 100%;
  max-height: calc(100vh - 20px - 0px - 73px);
  
  .title-box {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: $color-background-darker;

    .title {
      margin: 0;
    }

    button {
      position: absolute;
      left: 24px;
      top: 24px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .page.editor {
    .title-box {
      display: flex;
      height: $height-header;
      min-height: $height-header;
      padding: unset;
      justify-content: center;
      align-items: center;

      .title {
        font-size: 14px;
      }
      
      button {
        font-size: 20px;
        top: calc(#{$height-header} / 2 - 12px);
        .text {
          display: none;
        }
      }
    }
  }
}