@import '../../style/variables.scss';

.page.home {
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: auto;
  width: 100%;
  max-height: unset;

  .product-box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .all-products, .card-row {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;

    > * {
      width: 320px;
      height: 100%;
    }

    .card {
      width: 33%;
      margin-right: unset;
      min-height: 200px;
      .card-product-layer {
        display: block;
      }
    }
  }

  .intro-inner {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1010px) {
  .page.home {
    .content-box {
      overflow: auto;
      margin: 0;
    }

    .card-row {
      .card {
        width: 33%;
        min-width: unset;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .page.home {
    .card-row {
      .card {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .page.home {
    .content-box {
      padding-top: 24px;

      .card-row {
        flex-direction: row;
        height: 100%;

        .card {
          flex-direction: row-reverse;
          justify-content: space-between;
          width: 100%;
          height: 80px;
          min-height: unset;
  
          .texts {
            position: unset;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;

            .brand-name {
              font-size: 14px;
            }

            .product-name {
              justify-content: flex-start;
              align-items: flex-start;
              padding: unset;
              text-align: left;
            }
          }

          .timestamp {
            right: 0;
            width: 100%;
            text-align: right;
            max-width: unset;
            top: 12px;
          }
          
          .image {
            height: 75px;
            width: 100%;
            .card-product-layer, .border-cover {
              height: 75px;
              width: 50%;
            }
          }
        }
      }
    }
  }
}