@import '../../style/variables.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 100%;
  background-color: $color-background-dark;
  border-radius: 2px;
  transition: $default-transition;
  border-width: 0px;
  padding: 0;
  margin-right: 20px;

  .card-bottom-border {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 200  ;
  }

  &:focus, &:hover {
    border-width: 0px;
    background-color: #222222;
    
    .image .border-cover {
      border-color: #222222;
    }

    .product-name {
      background-color: unset;
    }
    
    .card-bottom-border {
      background-color: $color-red-default;
    }
  }

  .timestamp {
    position: absolute;
    left: 6px;
    top: 6px;
    font-size: 12px;
    color: #5a5a5a;
    max-width: 40%;
    width: 100%;
    text-align: left;
  }


  .texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10000;
    
    .product-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 100;
      font-size: 16px;
      width: 100%;
      margin-bottom: 2px;
      border-radius: $border-radius;
      transition: $default-transition;
      padding-bottom: 8px;
    }
  
    .brand-name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 6px 0px;
      padding-top: 8px;
    }
  }
  
  .image {
    width: 200px;
    height: 150px;
    z-index: 99;

    .border-cover {
      width: 200px;
      height: 150px;
      background-color: rgba(0,0,0,0);
      border: 5px solid $color-background-dark;
      position: absolute;
      z-index: 900000;
      transition: $default-transition;
    }

    .card-product-layer {
      position: absolute;
      background-color: unset;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 200px;
      height: 150px;
      border-image: unset;
    }
  }
}