@import '../../style/variables.scss';

.modal-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);

  width: 100vw;
  height: 100vh;

  z-index: 999999999;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-inner {
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    
    .content {
      padding: 24px;
      min-width: 200px;
      max-width: 400px;
      width: 100%;
    }

    .buttons {
      display: flex;

      button {
        width: 100%;
      }
    }
  }
}