$color-background: #ecece2;

$color-text: rgb(46, 50, 56);
$color-white: #fff;
$color-notblack: rgb(46, 50, 56);

$color-blue: #0077c2;
$color-red: #e32b2b;

$default-transition: ease-in-out 100ms all;