$color-background-darkest: #000;
$color-background-darker: #1C1C1E;
$color-background-dark: #2a2a2a;
$color-background-darkish: #38383A;
$color-background-notdark: rgb(77, 77, 78);
$font-darkmode: #eee;
$font-darkmode-gray: #888;

$color-notblack: rgb(46, 50, 56);
$color-white: #fff;

$color-blue: #0077c2;
$color-red: #d30f0f;
$color-background-yzy: #ecece2;

$border-radius: 2px;
$color-background: $color-background-darker;
$color-text: $font-darkmode;
$color-primary: $color-red;
$default-transition: ease-in-out 20ms all;
$font-family: 'Chakra Petch', sans-serif;