@import '../../style/variables.scss';

.color-picker {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 6px;
  
  .color-customizer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  
    .selected-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      height: 42px;
      
      .title {
        margin: unset;
      }
    }

    .save-preset {
      margin-top: 8px;
    }
  }
}