@import '../../style/variables.scss';

.footer {
  margin-top: auto;
  height: $height-footer;
  width: 100%;
  background-color: $color-background-darker;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .version, p {
    margin: auto 0px;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}