@import '../../style/variables.scss';

.components-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: none;
  overflow: auto;
  padding: 6px;

  .component-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: $default-transition;

    &.active {
      height: 100%;
    }
    
    .select-button {
      display: flex;
      align-items: center;
      background-color: $color-background-darkish;
      color: #fff;
      font-size: 16px;
      padding: 16px;
      border: 0px;
      margin-bottom: 4px;
      width: 100%;
      transition: $default-transition;
      
      &:hover, &:focus {
        border: 0px;
        background-color: lighten($color-background-darkish, 10);
      }
  
      &.active {
        background-color: lighten($color-background-darkish, 10);
        color: $color-notblack;
        border: 0px;
      }

      .names {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        
        .part-variant {
          font-size: 12px;
        }
      }

      .color-peek {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        border-radius: 50%;
        margin-right: 12px;
        font-size: 16px;
        background-color: $color-red-default;
        
        &.disabled {
          background-color: unset;
          filter: unset;
          color: #fff;
        }
      }
    }

    .options {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 16px;
      
      &.show {
        display: flex;
        height: 100%;
      }

      select {
        -webkit-appearance:none;
        background-color: $color-background-notdark;
        color: $font-darkmode;
        height: 40px;
        border: unset;
        outline: unset;
        font-size: 13px;
        width: 100%;
        padding: 0px 12px;
        border-radius: $border-radius;
        font-weight: 700;
      }

      .button-part {
        background-color: unset;
        color: #fff;
        margin-bottom: 16px;
        border: 0px;
        width: 100%;
        border-radius: $border-radius;
        max-width: 100%;
        padding: 12px;
        min-height: 32px;

        &:hover, &:focus {
          border: 0px;
          background-color: $color-primary;
        }
      }

      .no-variants {
        display: none;
      }
    }
  }
}

#modal-wrapper-part-selector {
  display: none;
  flex-direction: column;
}