.slider.item {
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 4px;

  .item-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .slider.item {
    .item-details {
      font-size: 13px;
    }
  }
}